$sans-serif-font            : Helvetica, Arial, sans-serif;
$serif-font                 : Georgia, Times New Roman, serif;

$prime-font                 : normal 400 24px/1 $sans-serif-font;

$accent-color               : #3A89C9;
$primary-color              : #F77922;
$secondary-color            : #1B325F;
$light-color                : #e4e4e4;
$dark-color                 : #444;

$focus-color                : yellow;
$focus-border-color         : goldenrod;

$error-color                : #dc143c;

$bg-color                   : #efefef;