body {
    background-color: #efefef;
}
button {
    background-color: white;
    border: 2px solid;
    padding: 10px 20px;
    font-weight: 700;
    cursor: pointer;
}
button:hover {
    background-color: red;
    border-color: red;
    color: white;
}