body {
    background-color: #efefef;
}
button {
    background-color: white;
    border: 2px solid;
    padding: 10px 20px;
    font-weight: 700;
    cursor: pointer;
}
button:hover {
    background-color: red;
    border-color: red;
    color: white;
}
.container {
    box-sizing: border-box;
    width: 1200px;
    margin: 60px auto;
    padding: 1rem;
}